.deliverylist {
  font-family: var(--font--poppins);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.deliverylist__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.deliverylist__list {
  margin-top: 10px;
  width: 100%;
  display: flex;

  justify-content: space-between;
}
.deliverylist__list__col ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}
.deliverylist__list__col ul li {
  font-weight: 600;
  color: #7f8061;
  font-size: 1.2rem;
}
.deliverylist__header h2 {
  font-weight: 600;
}
.deliverylist__footer {
  margin-top: 10px;
}
.deliverylist__footer h2 {
  font-weight: 600;
}

@media (max-width: 550px) {
  .deliverylist {
    display: none;
  }
  .deliverylist__container {
    padding: 10px;
    width: 100%;
    align-items: center;
  }
  .deliverylist__header h2 {
    font-size: 1.2rem;
  }
  .deliverylist__list__col ul li {
    font-size: 0.7rem;
    margin-right: 5px;

    list-style-type: none;
  }
  .deliverylist__footer h2 {
    font-size: 1.2rem;
  }
  .deliverylist__list__col ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .deliverylist__list {
    flex-direction: column;
  }
  .deliverylist__list__col {
    margin-top: 10px;
  }
}
